<div class="container">
    <h3 class="center-align">Editar Vuelo</h3>
   
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="edit()">
      <input formControlName="id" type="hidden" class="validate">
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="fecha_inicio" type="date" class="validate">
          <label for="fecha_inicio">Fecha de Inicio</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="hora_inicio" type="time" class="validate">
          <label for="hora_inicio">Hora de Inicio</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="fecha_fin" type="date" class="validate">
          <label for="fecha_fin">Fecha de Fin</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="hora_fin" type="time" class="validate">
          <label for="hora_fin">Hora Fin</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="asientos_vendidos" type="number" class="validate">
          <label for="asientos_vendidos">Asientos Vendidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="nombre_piloto" type="text" class="validate">
          <label for="nombre_piloto">Nombre del Piloto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select class="browser-default" formControlName="ruta" >
            <option value="" disabled selected>Seleccione la Ruta</option>
            <option *ngFor="let ruta of listadoRutas" value="{{ruta.origen}} -> {{ruta.destino}}">{{ruta.origen}} -> {{ruta.destino}}</option>
          </select>
        </div>
      <div class="row center-align">
        <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
    <!-- </form> -->
  </div>