<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> <img class="materialboxed" width="160" src="https://i.ibb.co/wBs39Yj/croitre-Log.png"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="activeSession"><a routerLink="/admin/get">Usuarios</a></li>
      <li *ngIf="activeSession"><a routerLink="/aeropuertos/get">Aeropuertos</a></li>
      <li *ngIf="activeSession"><a routerLink="/rutas/get">Rutas</a></li>
      <li *ngIf="activeSession"><a routerLink="/vuelos/get">Vuelos</a></li>
      <!-- Sesion -->
      <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
      <li *ngIf="!activeSession"><a routerLink="/admin/create">Registrarse</a></li>
      <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
    </ul>
  </div>
</nav>