<!-- <p>create works!</p> -->
<div class="container">
    <h3 class="center-align">Registrar Ruta</h3>
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()"> 
      <div class="row">
        <div class="input-field col s6">
          <select class="browser-default" formControlName="origen" >
            <option value="" disabled selected>Seleccione el Aeropuerto Origen</option>
            <option *ngFor="let aeropuerto of listadoAeropuertos" value="{{aeropuerto.nombre}} - {{aeropuerto.siglas}}">{{aeropuerto.nombre}} - {{aeropuerto.siglas}}</option>
          </select>
        </div>   
        <div class="input-field col s6">
          <select class="browser-default" formControlName="destino" >
            <option value="" disabled selected>Seleccione el Aeropuerto Destino</option>
            <option *ngFor="let aeropuerto of listadoAeropuertos" value="{{aeropuerto.nombre}} - {{aeropuerto.siglas}}">{{aeropuerto.nombre}} - {{aeropuerto.siglas}}</option>
          </select>
        </div> 
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="tiempo_estimado" type="number" class="validate">
          <label for="tiempo_estimado">Tiempo estimado</label>
        </div>
      </div>
   
      <div class="row center-align">
        <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>